@import "variables.scss";
@import "bootstrap-select";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "footer";
@import "select2";
@import "select2-bootstrap";
@import "slick";
@import "slick-theme";
@import "jquery-ui";
@import "font-awesome";
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'carts.scss';
@import 'categories.scss';
@import 'dashboards.scss';
@import 'devise.scss';
@import 'footer.scss';
@import 'hamburger.scss';
@import 'omniauth_callbacks.scss';
@import 'orders.scss';
@import 'products.scss';
@import 'profiles.scss';
@import 'restaurants.scss';
@import 'scaffolds.scss';


/* General global settings */
@font-face {
  font-family: "Am";
  src: font-url('AlegreyaSans-Bold.ttf');
}

@font-face {
  font-family: "Fullder";
  /* Change it when you find a better one */
  src: font-url('AlegreyaSans-Bold.ttf');
}

/* General global settings */
html,body {
  height: calc(100% + 80px);
  padding-top: 0;
  min-height: 600px;
  clear: both;
  font-family: "Am", sans-serif;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
}
.ellipsis { 
  text-overflow: ellipsis; 
}

input{
  font-size:16px !important;
  /* When the font-size is 16px phones do not zoom when filling in an input */  
}

.btn-square{
  border-radius: 0px;
}

/* ------------------------------------------ */

/* Errors */
.error-explanation{
  margin-top: 20px;
  color: black;
}

.alert-error{
  background-color: rgba(230,0,0,0.3);
  font-size: 23px;
  font-weight: bold;
}

.flash_messages{
  text-align: center;
  position: fixed;
  z-index: 100;
  top: 60px;
  background-color: rgba(230,0,0,0.8);
  color: white;
  font-size: 26px;
  button{
    line-height: 40px;
    span{
      color: white !important;
      font-weight: bold;
    }
  }
}

@media (max-width: 768px) {
  .flash_messages{
    top: 55px;
    background-color: rgba(230,0,0,0.8);
    color: white;
    font-size: 14px;
    button{
      line-height: 20px;
      span{
        color: white !important;
        font-weight: bold;
      }
    }
  }
  .col-xs-12{
    padding: 0px;
  }
}

.flash_messages:hover{
  background-color: $red;
}

/* ---------------------------------- */

/* Navbar */

.space-up-animation{
  animation-duration: 1s;
  animation-name: slideDown;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  from{
    margin-top: 70px;
  }

  to {
    margin-top: 15px;
  }
}

/* Global settings specifically for large devices */
@media (min-width: 768px) {
  /* Input not visible on large devices when <20px */
  input, select{
    font-size: 20px !important;
  }
  /* Bigger font size of flash messages */
  #flash_messages{
    font-size: 25px;
  }
  label{
    font-size: 22px;
  }
  h2{
    font-size: 35px;
  }

  .navbar-custom {
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 1.5em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

