.restaurants.show{
  .restaurant-avatar{
    max-height: 350px;
    width: 100%;
    padding: 0px 0px 0px 0px;
    object-fit: cover;
  }
  .restaurant-name{
    font-size: $sm-xl;
    padding: 20px;
    margin-bottom: 20px;
  }
  .restaurant-menu{
    .category-row{
      background-size: cover;
    }
    .category-name{
      background-color: rgba(0, 0, 0, 0.7);
      display: block;
      height: 100px;
      line-height: 100px;
      color: white;
      font-size: $sm-l;
      margin: 20px 0px 20px 0px;
      font-weight: normal;
      text-align: center;
      margin: 0px;
    }
  }
}