/* Variables */

/*Colors*/

$red: rgb(255, 70, 38);
$golden: rgb(232, 141, 46);
$golden-black: rgb(204, 124, 40);
$purple: rgb(142, 50, 255);

/*Font sizes*/

$sm-s: 14px;
$sm-m: 16px;
$sm-l: 18px;
$sm-xl: 20px;

$lg-s: 17px;
$lg-m: 20px;
$lg-l: 24px;
$lg-xl: 27px;