.category-row.col-xs-12 style="background-image: url('#{category.avatar.url(:large)}')"
  .category-name = "- #{category.name} -"
= render partial: "products/product_row", collection: category.products, as: :product